  .profile {
    height: 500px;
    margin : 100px;
    padding: 30px;
    background: #ebebeb !important;
  }

  .savepreferences {
    margin-top : 400px;
    width: 100%;
  }

  /* .title {
    font-size: 20px;
    background: -webkit-linear-gradient( rgb(216, 177, 78),  #910505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */
  