.profile {
  height: 500px;
  margin : 100px;
  padding: 30px;
  border: 5px solid #1C6EA4;
}

.savepreferences {
  background-image: linear-gradient(96deg,#3f51b5,#673ab7);
  margin-top : 400px;
  width: 100%;
}

.recommendations {
  margin: 20px;
  padding: 40px;
  text-align: center;
}

  