.recommendation {
    width: '18rem' !important;
    background-color: #FF4081 !important;
    margin-top: 10px;
    cursor: zoom-in;
}

.recommendationbody {
    background-color: #F5F5F5 !important;
}

.steps {
    color:#3E50B4;
}

.graphbutton {
    float: right;
    background-image: linear-gradient(96deg,#3f51b5,#673ab7);
}
