.superselect {
  padding: 30px;
}

.r-ss-option-group-heading {
  background-image: linear-gradient(96deg,#3f51b5,#673ab7);
  color: white !important;
}


.r-ss-trigger {
  background-image: linear-gradient(96deg,#c4bfbfa2, white);  
  color:black;
  text-decoration: black
}

